<!-- ko if: showAjaxNavigation -->
<div id="ajax-nav-templ" class="block filter" data-role="navigation" data-mage-init='{"navigation": {}}'>
    <div class="block-content filter-content">
        <div class="filter-current active">
            <strong class="block-subtitle filter-current-subtitle" data-bind="attr: { 'data-count': active_filters_count }"
                    role="heading"
                    aria-level="2"
                    data-count=""><!-- ko i18n: 'Applied Filters:' --><!-- /ko --></strong>
            <ol class="items" data-bind="foreach: { data: active_filters }">
                <li class="item">
                    <span class="filter-label" data-bind="text: filter_label"></span>
                    <div class="filter-value-wrap">
                        <span class="filter-value" data-bind="text: filter_value"></span>
                        <a class="action remove" data-bind="attr: { href: href, title: title, 'data-value': data_value, 'data-param': data_param, 'data-ajax': data_ajax }"
                           href=""
                           title=""
                           data-role="navigation-filter"
                           data-value=""
                           data-param=""
                           data-ajax=""
                           data-active="1">
                            <span><!-- ko i18n: 'Remove This Item' --><!-- /ko --></span>
                        </a>
                    </div>
                </li>
            </ol>
        </div>

        <div class="block-actions filter-actions">
            <a data-bind="attr: { href: clear_url }"
               class="action clear filter-clear"
               data-role="navigation-filter"
               data-ajax="1"
               data-clear="1">
                <span><!-- ko i18n: 'Clear All' --><!-- /ko --></span>
            </a>
        </div>
        <div class="filter-subtitle2" data-bind="text: add_filter_title"></div>

        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><!-- ko i18n: 'Shopping Options' --><!-- /ko --></strong>
        <dl class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": "true", "multipleCollapsible": true}}' data-bind="foreach: { data: filters }">
            <div data-role="collapsible" class="filter-options-item">
                <dt data-role="title" role="heading" aria-level="3" class="filter-options-title" data-bind="text: title"></dt>
                <dd data-role="content" class="filter-options-content" data-bind="html: content">
                </dd>
            </div>
        </dl>
    </div>
</div>
<!-- /ko -->