<?xml version="1.0" ?>
<!--
/**
 * GoMage.com
 *
 * GoMage Navigation M2
 *
 * @category  Extension
 * @copyright Copyright (c) 2018-2018 GoMage.com (https://www.gomage.com)
 * @author    GoMage.com
 * @license   https://www.gomage.com/licensing  Single domain license
 * @terms     of use https://www.gomage.com/terms-of-use
 * @version   Release: 2.0.0
 * @since     Class available since Release 2.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="GoMage\Navigation\Api\NavigationAttributeRepositoryInterface" type="GoMage\Navigation\Model\NavigationAttributeRepository"/>
	<preference for="GoMage\Navigation\Api\Data\NavigationAttributeInterface" type="GoMage\Navigation\Model\NavigationAttribute"/>
</config>
