<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="GoMage\Navigation\Api\NavigationAttributeRepositoryInterface" type="GoMage\Navigation\Model\NavigationAttributeRepository"/>
	<preference for="GoMage\Navigation\Api\Data\NavigationAttributeInterface" type="GoMage\Navigation\Model\NavigationAttribute"/>
	<preference for="GoMage\Navigation\Api\NavigationAttributeStoreRepositoryInterface" type="GoMage\Navigation\Model\NavigationAttributeStoreRepository"/>
	<preference for="GoMage\Navigation\Api\Data\NavigationAttributeStoreInterface" type="GoMage\Navigation\Model\NavigationAttributeStore"/>
</config>
