<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Filter\Attribute</item>
                <item name="price" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Filter\Price</item>
                <item name="decimal" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Filter\Decimal</item>
                <item name="category" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Filter\Category</item>
            </argument>
            <argument name="filterableAttributes" xsi:type="object">Magento\Catalog\Model\Layer\Category\FilterableAttributeList</argument>
        </arguments>
    </virtualType>
    <virtualType name="GoMage\Navigation\Block\Navigation\Category" type="GoMage\Navigation\Block\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">categoryFilterList</argument>
        </arguments>
    </virtualType>
    <preference for="Magento\Catalog\Model\Layer\Filter\Item" type="GoMage\Navigation\Model\Catalog\Layer\Filter\Item" />
    <preference for="Magento\Catalog\Model\ResourceModel\Layer\Filter\Price" type="GoMage\Navigation\Model\ResourceModel\Layer\Filter\Price" />
    <type name="Magento\Catalog\Model\Layer\FilterList">
        <plugin name="gomage_set_additional_data_to_filters" type="\GoMage\Navigation\Plugin\SetAdditionalAttributeData" />
    </type>
    <virtualType name="GoMage\Navigation\Model\ResourceModel\Fulltext\CollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">GoMage\Navigation\Model\ResourceModel\Fulltext\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollection" type="GoMage\Navigation\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
        </arguments>
    </virtualType>
    <type name="Magento\CatalogSearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">GoMage\Navigation\Model\ResourceModel\Fulltext\CollectionFactory</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Layer\Resolver">
        <arguments>
            <argument name="layersPool" xsi:type="array">
                <item name="category" xsi:type="string">GoMage\Navigation\Model\Layer\Category</item>
                <item name="search" xsi:type="string">GoMage\Navigation\Model\Layer\Search</item>
            </argument>
        </arguments>
    </type>

    <!--type name="Magento\Catalog\Model\ResourceModel\Layer\Filter\Attribute">
        <plugin name="gomage_navigation_attribute" type="GoMage\Navigation\Plugin\Layer\Filter\Attribute" />
    </type-->
    <!--type name="Magento\Catalog\Model\Layer">
        <plugin name="gomage_navigation_attribute" type="GoMage\Navigation\Plugin\Layer" />
    </type-->

</config>
