<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="categoryFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\Attribute</item>
                <item name="price" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\Price</item>
                <item name="decimal" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\Decimal</item>
                <item name="category" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\Category</item>
            </argument>
            <argument name="filterableAttributes" xsi:type="object">Magento\Catalog\Model\Layer\Category\FilterableAttributeList</argument>
        </arguments>
    </virtualType>
    <virtualType name="searchFilterList" type="Magento\Catalog\Model\Layer\FilterList">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\Attribute</item>
                <item name="price" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\Price</item>
                <item name="decimal" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\Decimal</item>
                <item name="category" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Search\CategorySearch</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="GoMage\Navigation\Block\Navigation\Search" type="GoMage\Navigation\Block\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">searchFilterList</argument>
        </arguments>
    </virtualType>
    <type name="GoMage\Navigation\Block\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">categoryFilterList</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Layer\Filter\ItemFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">GoMage\Navigation\Model\Catalog\Layer\Filter\Item</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Layer\FilterList">
        <plugin name="gomage_set_additional_data_to_filters" type="\GoMage\Navigation\Plugin\SetAdditionalAttributeData" />
    </type>
    <virtualType name="GoMage\Navigation\Model\ResourceModel\Fulltext\CollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">GoMage\Navigation\Model\ResourceModel\Fulltext\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollection" type="GoMage\Navigation\Model\ResourceModel\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
        </arguments>
    </virtualType>
    <type name="Magento\CatalogSearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">GoMage\Navigation\Model\ResourceModel\Fulltext\CollectionFactory</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Layer\Filter\DataProvider\Decimal">
        <arguments>
            <argument name="resource" xsi:type="object">GoMage\Navigation\Model\ResourceModel\Layer\Filter\Decimal</argument>
        </arguments>
    </type>
    <type name="Magento\Swatches\Helper\Media">
        <plugin name="gomage_swatch_resize_image" type="GoMage\Navigation\Plugin\SwatchImageResize" />
    </type>
    <type name="Magento\CatalogSearch\Model\Adapter\Mysql\Filter\Preprocessor">
        <plugin name="show_category_ids" type="GoMage\Navigation\Plugin\CategoryFilterProcessor" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="gomage_fix_sort_position" type="GoMage\Navigation\Plugin\FixSortPosition" />
    </type>
    <type name="Magento\Catalog\Model\Layer\Resolver">
        <arguments>
            <argument name="layersPool" xsi:type="array">
                <item name="category" xsi:type="string">GoMage\Navigation\Model\Layer\Category</item>
                <item name="search" xsi:type="string">GoMage\Navigation\Model\Layer\Search</item>
            </argument>
        </arguments>
    </type>
</config>