<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_catalog_product_edit_prepare_form">
        <observer name="extend_catalog_product_attribute_edit_form" instance="GoMage\Navigation\Observer\ExtendCatalogProductAttributeEditForm" />
    </event>
    <event name="catalog_entity_attribute_save_after">
        <observer name="gomage_save_attribute" instance="GoMage\Navigation\Observer\GomageSaveAttribute" />
    </event>
</config>