<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="gomage" sortOrder="999" translate="label">
            <label>gomage</label>
        </tab>
        <section id="gomage_navigation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Advanced Navigation</label>
            <tab>gomage</tab>
            <resource>GoMage_Navigation::config_navigation</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Advanced Navigation (Filter Mode)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pagination" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Ajax Pagination (Filter Category Pages)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="place" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Shop By In</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Place</source_model>
                </field>
                <field id="content_filter_button" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Filter Button for Content</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="place">1</field>
                    </depends>
                </field>
                <field id="content_filter_type" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Content Filters in</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Content\Filter\Type</source_model>
                    <depends>
                        <field id="place">1</field>
                    </depends>
                </field>
                <field id="scroll" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Autoscrolling</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Scroll</source_model>
                </field>
                <field id="to_top_button" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Back to Top Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="to_top_speed" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scrolling Speed, ms</label>
                    <comment>1000 equals 1 second</comment>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="to_top_button">1</field>
                    </depends>
                </field>
                <field id="to_top_action" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Back to Top Action</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Top\Action</source_model>
                    <depends>
                        <field id="to_top_button">1</field>
                    </depends>
                </field>
                <field id="mobile" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable on Mobile Devices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Filter Settings</label>
                <field id="use_hash" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Filter Results to URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="friendly_urls" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Friendly URLs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="result" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Applied Values in Results</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Result</source_model>
                </field>
                <field id="qty" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Value's Qty</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pager" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Pager</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="gomage_navigation/general/scroll">0</field>
                    </depends>
                </field>
            </group>
            <group id="view" translate="label" type="text" sortOrder="30" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Navigation View</label>
                <group id="block" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Block</label>
                    <field id="background" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Block Background Color</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                    <field id="category_background" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Category Background Color (from category settings)</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                </group>
                <group id="button" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Button</label>
                    <field id="background" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Buttons Background Color</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                    <field id="gradient" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use Gradient</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="background2" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Buttons Background Color 2</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                        <depends>
                            <field id="gradient">1</field>
                        </depends>
                    </field>
                    <field id="color" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Button Text Color</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                </group>
                <group id="tooltip" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Tooltip</label>
                    <field id="background" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Tooltip Icon Background (Help Icon View)</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                    <field id="window_background" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Tooltip Window Background</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                    <field id="show_event" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Show Tooltip Window (Show Help Icon Window)</label>
                        <source_model>GoMage\Navigation\Model\Config\Source\Tooltip\Event\Show</source_model>
                    </field>
                    <field id="hide_event" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Hide Tooltip Window (Hide Tooltip Help Icon Window)</label>
                        <source_model>GoMage\Navigation\Model\Config\Source\Tooltip\Event\Hide</source_model>
                    </field>
                </group>
                <group id="slider" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Slider</label>
                    <field id="line_color" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Slider Line Color</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                    <field id="line_height" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Slider Line Height, px</label>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                    <field id="element_color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Slider Element Color</label>
                        <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    </field>
                    <field id="element_width" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Slider Element Width, px</label>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                    <field id="element_height" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Slider Element Height, px</label>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                    <field id="element_radius" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Slider Element Radius, px</label>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                </group>
            </group>
            <group id="category" translate="label" type="text" sortOrder="40" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Category Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Navigation</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="place" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Block Location</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Place</source_model>
                </field>
                <field id="navigation" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Type</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Category\Navigation</source_model>
                </field>
                <field id="action" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Filter Action</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Filter\Action</source_model>
                </field>
                <field id="shop_by" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Category in Shop by</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_block_height" translate="label" type="text" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max block height, px</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="navigation">3</field>
                    </depends>
                </field>
                <field id="hide_empty" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Empty Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_all" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show All Subcategories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_collapsed" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Collapsed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_checkbox" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Checkboxes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_image" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Image Name</label>
                    <comment><![CDATA[
                        <script type="text/javascript">
                            jQuery(document).ready(function() {

                                if(jQuery('#gomage_navigation_category_shop_by').val() == 1) {
                                    jQuery('#gomage_navigation_category_navigation option[value="8"]').attr('disabled', 'disabled');
                                }

                                jQuery('#gomage_navigation_category_shop_by').change(function() {
                                    if (jQuery('#gomage_navigation_category_shop_by').val() == 1) {
                                        jQuery('#gomage_navigation_category_navigation').val(0);
                                        jQuery('#gomage_navigation_category_navigation option[value="8"]').attr('disabled', 'disabled');
                                    } else {
                                        jQuery('#gomage_navigation_category_navigation').val(0);
                                        jQuery('#gomage_navigation_category_navigation option[value="8"]').removeAttr('disabled', 'disabled');
                                    }

                                    jQuery('#row_gomage_navigation_category_is_image').hide();
                                    jQuery('#row_gomage_navigation_category_image_alignment').hide();
                                    jQuery('#row_gomage_navigation_category_image_width').hide();
                                    jQuery('#row_gomage_navigation_category_image_height').hide();

                                });
                            });
                        </script>
                    ]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="navigation">9</field>
                    </depends>
                </field>
                <field id="image_alignment" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Alignment</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Image\Alignment</source_model>
                    <depends>
                        <field id="navigation">9</field>
                    </depends>
                </field>
                <field id="image_width" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Width, px</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="navigation">9</field>
                    </depends>
                </field>
                <field id="image_height" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Height, px</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="navigation">9</field>
                    </depends>
                </field>
            </group>
            <group id="loader" translate="label" type="text" sortOrder="60" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Ajax Loader Window Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Ajax Loader Window</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="spinner_type" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Spinner Type</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\SpinnerType</source_model>
                </field>
                <field id="image" translate="label" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ajax Loader View</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">gomage/navigation/loader</upload_dir>
                    <base_url type="media" scope_info="1">gomage/navigation/loader</base_url>
                    <depends>
                        <field id="spinner_type">1</field>
                    </depends>
                </field>
                <field id="spinner_color" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Spinner Color</label>
                    <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                    <depends>
                        <field id="spinner_type">0</field>
                    </depends>
                </field>
                <field id="alignment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Alignment</label>
                    <source_model>GoMage\Navigation\Model\Config\Source\Alignment</source_model>
                    <depends>
                        <field id="spinner_type">1</field>
                    </depends>
                </field>
                <field id="background" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                </field>
                <field id="border_color" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Border Color</label>
                    <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                </field>
                <field id="text_color" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Color</label>
                    <frontend_model>GoMage\Navigation\Block\Color</frontend_model>
                </field>
                <field id="width" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Window Width, px</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="height" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Window Height, px</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="text" translate="label" type="textarea" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ajax Loader Text</label>
                </field>
            </group>

        </section>
    </system>
</config>
