.page-layout-3columns .gan-categories .gan-sidebar-position {
    float: right !important;
    clear: right;
}

.page-layout-2columns-right .gan-categories .gan-sidebar-position {
    float: right !important;
    clear: right;
}