.page-layout-3columns .gan-categories.gan-sidebar-position {
    float: left !important;
    clear: right;
}

.page-layout-2columns-left .gan-categories.gan-sidebar-position {
    float: left !important;
    clear: right;
}